*{
    margin: 0;
    padding: 0;
}
.contmenu{
    max-width: 100%;
    height: auto;
}
.contprincipal{
    margin-top: 5vw;
    max-width: 100%;
    height: auto;
}
.contsec{
    margin: 0 1.5vw 0 1.5vw;
    border: black solid 0.2vw;
}
.contp1{
    max-width: 100%;
    height: auto;
    background-color: rgb(255, 255, 93);
    text-align: justify;
    padding: 0 1vw 0 1vw; 
}
.contp2{
    padding: 0 1vw 0 1vw; 
    max-width: 100%;
    height: auto;
    background-color: rgb(30, 89, 167);
}
.contp3{
    padding: 0 1vw 0 1vw; 
    max-width: 100%;
    height: auto;
    background-color: rgb(245, 59, 59);
}
.contprincipal2{
    margin-top: 5vw;
    max-width: 100%;
    height: auto;
}
.contsec2{
    margin-top: 5vw;
    max-width: 100%;
}
.contsec22{
    margin:0 10vw 0 10vw;
    padding: 0 3vw 0 3vw;
    max-width: 100%;
}
footer{
    margin-top: 10vw;
    max-width: 100%;
    height: auto    ; 
}
.redes{
    display: flex;
    max-width: 100%;
    height: auto;
    margin: 3vw;
}
.logo{
    width: 20%;
}
